.layout
{
    display: grid;
    grid-template-columns: auto 300px 250px 250px auto;
    grid-template-rows: 50px auto auto auto auto;
    grid-template-areas: 's s s s s'
        'c d d e t'
        'a f f f t'
        'b y y y t'
        'b g g g t';
    grid-gap: 10px;
}

.advertisement
{
    grid-area: y;
}

.user-info
{
    grid-area: s;
}

ul
{
    padding-left: 0;
}

.logo
{
    grid-area: a;
    text-align: right;
    margin: auto 0;
}

.city
{
    float: left;
    color: #999;
    grid-area: w;
    margin-top: 8px;
    padding: 0 18px;
}

.news-section
{
    grid-area: d;
    margin-right: 20px;
}

.yandex-themes
{
    grid-area: e;
    margin: 10px 0;
}

.navigation-links a
{
    font-size: 1.16em;
}

.navigation-links
{
    margin: 10px 0;
}

.navigation-links a:not(:first-child)
{
    margin-left: 20px;
}

.search-field
{
    grid-area: f;
    margin: 10px 0;
}

.widgets
{
    grid-area: g;
    display: flex;
}

.widgets-1 article
{
    width: 250px;
}

.widgets-2 article
{
    width: 300px;
}

.widgets-3 article
{
    width: 300px;
}

.search-input
{
    width: 85%;
    height: 32px;
    border: 2px solid #ffdb4d;
}

.description
{
    color: #999;
    font-size: .8em;
}

.secondary-link
{
    color: #6da2e1;
}

p
{
    margin: 6px 0;
}

li
{
    margin: 6px 0;
}

h2
{
    margin-bottom: 10px;
}

.auto-news
{
    overflow: hidden;
    height: 250px;
}

a
{
    font-weight: 300;
    color: #0054b9;
    text-decoration: none;
}

.settings > input
{
    display: none;
}

.settings-panel
{
    position: absolute;
    padding: 8px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 5px gray;
    display: none;
    min-width: 200px;
    right: -100%;
}

body > input
{
    display: none;
}

.show-settings-checkbox:checked ~ .settings-panel
{
    display: block;
}

.settings
{
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    position: relative;
}

.mail-section
{
    float: right;
    padding: 12px;
    width: 152px;
    box-shadow: 0 0 5px gray;
}

.first-red::first-letter
{
    color: red;
}

body
{
    font-size: 82.25%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    margin-bottom: 100px;
}

.black-links
{
    font-weight: bold;
}

#show-services-dummy:checked ~ main .services-show,
#show-jokes-dummy:checked ~ main .jokes-show,
#show-tv-dummy:checked ~ main .tv-show,
#show-auto-news-dummy:checked ~ main .auto-news-show,
#show-weather-dummy:checked ~ main .weather-show,
#show-traffic-dummy:checked ~ main .traffic-show,
#show-map-dummy:checked ~ main .map-show,
#show-poster-dummy:checked ~ main .poster-show,
#show-services-dummy:not(:checked) ~ main .services-hide,
#show-jokes-dummy:not(:checked) ~ main .jokes-hide,
#show-tv-dummy:not(:checked) ~ main .tv-hide,
#show-auto-news-dummy:not(:checked) ~ main .auto-news-hide,
#show-weather-dummy:not(:checked) ~ main .weather-hide,
#show-traffic-dummy:not(:checked) ~ main .traffic-hide,
#show-map-dummy:not(:checked) ~ main .map-hide,
#show-poster-dummy:not(:checked) ~ main .poster-hide
{
    display: inline-block;
}

.settings-panel img
{
    height: 10px;
}

.services-show,
.jokes-show,
.tv-show,
.auto-news-show,
.weather-show,
.traffic-show,
.map-show,
.poster-show
{
    display: none;
}

.services-hide,
.jokes-hide,
.tv-hide,
.auto-news-hide,
.weather-hide,
.traffic-hide,
.map-hide,
.poster-hide
{
    display: none;
}

.jokes-label::before
{
    content: '↻ Показать ещё';
    cursor: pointer;
}

.jokes-label
{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.jokes
{
    position: relative;
    padding-bottom: 20px;
}

.jokes input
{
    display: none;
}

.search-input,
.search-button
{
    box-sizing: border-box;
    height: 36px;
}

.search-button
{
    background: #ffdb4d;
    border: none;
    width: 88px;
}

.joke-1,
.joke-2,
.joke-3,
.joke-4,
.joke-5
{
    display: none;
}

#joke-1-controller:checked ~ .joke-1,
#joke-2-controller:checked ~ .joke-2,
#joke-3-controller:checked ~ .joke-3,
#joke-4-controller:checked ~ .joke-4,
#joke-5-controller:checked ~ .joke-5
{
    display: block;
}
